/* Theme Variables */

/********************/
/****   Colors   ****/
/********************/

$color_white: #FFFFFF;
$color_black: #000000;
$color_light-grey: #EEEEEE;
$color_medium-grey: #AAAAAA;
$color_dark-grey: #666666;
$color_accent_bluesky: #78ade8;


/********************/
/*    Typography    */
/********************/

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'IBM Plex Sans', sans-serif;
$link_regular: $color_accent_bluesky;


/********************/
/* Basic Dimentions */
/********************/

$sidebar_width: 190px;